@font-face {
  font-family: "SynthPixel";
  src: url("assets/fonts/SynthPixel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LmsPokedex";
  src: url("assets/fonts/LmsPokedex.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tiny5";
  src: url("assets/fonts/Tiny5-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VCR-OSD";
  src: url("assets/fonts/VCR_OSD_Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PokemonSolid";
  src: url("assets/fonts/PokemonSolid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelCraft";
  src: url("assets/fonts/PixelCraft.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelOperator";
  src: url("assets/fonts/pixel_operator/PixelOperator.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PixelOperator";
  src: url("assets/fonts/pixel_operator/PixelOperator-Bold.ttf")
    format("truetype");
  font-weight: bold;
}

:root {
  --background-color: #ece9d8;
  --text-color: #000040;
  --accent-color: #880015;
  --text: #000080;
  --btn-border: #071679;
  --btn-color1: #0061fc;
  --btn-color2: #024fca;
  --paper-h1: #400000;
  --paper-text: #804040;

  --red: #ff0000;
  --boston-red: #cc0000;
  --blue: #3b4cca;
  --yellow: #ffde00;
  --gold-foll: #b3a125;
}

body {
  background-image: url("assets/pics/nature-true.jpg");
  background-size: cover;
  background-color: #79c9fa;
  margin: 0;
  height: 100vh;
}

.logo {
  top: 0;
  font-family: "PokemonSolid", sans-serif;
  font-size: 100px;
  color: var(--yellow);
  -webkit-text-stroke: 5px var(--blue);
  text-align: center;
  text-shadow: #000 2px 2px 0px, #000 4px 4px 0px, #000 6px 6px 0px;
}

.notebook {
  width: 700px;
  height: 700px;
  background-image: url("assets/pics/border03.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

/* Ecran a l'interieur du Pokedex */
.notebook-screen {
  position: relative;
  top: 12%;
  bottom: 2%;
  left: 3%;
  width: 90%;
  height: 51.5%;
  overflow-y: auto;
}
.pokemon-card {
  display: flex;
}
.card1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0;
}
.card1 > * {
  margin: auto;
  padding: 0;
}
.card2 {
  flex: 1;
}
.pokemon-img {
  margin-top: 20px;
  width: 190px;
  height: auto;
  border: 4px ridge silver;
  background-image: url("assets/pics/paper1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4px;
}
.pokemon-img1 {
  margin-top: 20px;
  width: 90px;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pokemon-id {
  font-family: "PixelOperator", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
}

.pokemon-id1 {
  font-family: "PixelOperator", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: var(--text-color);
}
.pokemon-name {
  font-family: "PixelOperator", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: var(--accent-color);
}

.pokemon-name1 {
  font-family: "PixelOperator", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--accent-color);
}
.pokemon-description {
  font-family: "PixelOperator", sans-serif;
  font-size: 24px;
  color: var(--text-color);
  margin-top: 20px;
  margin-right: 16px;
  text-align: justify;
}

.search-input {
  width: 500px;
  height: 30px;
  margin-left: 5px;
  background-color: var(--background-color);
  border: 5px solid var(--btn-color2);
  border-radius: 10px;

  font-family: "PixelOperator", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
}
.search-input:focus {
  outline: none;
  border-color: var(--btn-color1);
  box-shadow: 0 0 5px var(--btn-color1);
}
.btn-search {
  background: linear-gradient(180deg, #024fca, #0061fc);
  color: white;
  border-radius: 10px;
  /*border: 3px solid var(--btn-border);*/
  width: 150px;
  height: 50px;
  margin-left: 5px;
  font-family: "VCR-OSD";
  font-size: 20px;
}

/* Controls for filtering the list */
.list-controls {
  position: relative;
  top:12%;
  left:5%;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}
.type-filter {
  height: 50px;
  font-family: "PixelOperator";
  border-radius: 8px;
  border: 5px solid var(--btn-color2);
  padding: 4px 8px;
  background: var(--background-color);
}

/* Loader styles */
.list-loader {
  display: none; /* shown during loading */
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 8px;
}
.list-loader[aria-hidden="false"] {
  display: flex;
}
.loader-pokeball {
  width: 50px;
  height: 50px;
  transform-origin: center;
  animation: spin 1s linear infinite;
}
.loader-bars span {
  display: inline-block;
  width: 6px;
  height: 18px;
  background: #024fca;
  margin: 0 2px;
  animation: bar 1s ease-in-out infinite;
}
.loader-bars span:nth-child(2) {
  animation-delay: 0.12s;
}
.loader-bars span:nth-child(3) {
  animation-delay: 0.24s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bar {
  0%,
  40%,
  100% {
    height: 8px;
    opacity: 0.6;
  }
  20% {
    height: 22px;
    opacity: 1;
  }
}

/* Conteneur general*/
.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: flex-start;
}

/* --- La fenetre --- */
.window {
  width: 700px;
  height: 700px;
  background-image: url("assets/pics/border01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
  display: flex;
}

/* Contenu scrollable */
.window-content {
  position: absolute;
  top: 8.5%;
  bottom: 2%;
  left: 18%;
  right: 10%;
  overflow-y: auto;
  padding: 20px;
  text-align: center;
}

/* Pokédex */
.pokedex {
  width: 400px;
  height: 550px;
  background-image: url("assets/pics/pokedex.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

/* Ecran */
.screen {
  position: relative;
  top: 17.5%;
  left: 12%;
  width: 76%;
  height: 53%;
  overflow: hidden;
}

/* Image affichee */
.pokedex-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.pokedex-gif {
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 50%;
  height: 50%;
  object-fit: contain;
  pointer-events: none;
  z-index: 2;
}

/*pokemon list*/
.pokemon-listScreen {
  position: relative ;
 top:5%;
}
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  padding: 2px;
  max-height: 100%;
  overflow-y: auto;
}

.type-btn {
  border: none;
  color: white;
  padding: 5px 12px;
  border-radius: 12px;
  margin: 3px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
  font-family: "PixelOperator";
}

.type-btn:hover {
  transform: scale(1.1);
}
.stat-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.stat-label {
  font-family: "PixelOperator", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: indigo;
  margin-bottom: 4px;
  text-align: left;
}
.stat-value {
  font-family: "PixelOperator", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: darkcyan;
  margin-bottom: 4px;
  text-align: right;
}
/* Couleurs par type */
.type-grass {
  background-color: #78c850;
}
.type-fire {
  background-color: #f08030;
}
.type-water {
  background-color: #6890f0;
}
.type-electric {
  background-color: #f8d030;
  color: #333;
}
.type-ice {
  background-color: #98d8d8;
  color: #333;
}
.type-fighting {
  background-color: #c03028;
}
.type-poison {
  background-color: #a040a0;
}
.type-ground {
  background-color: #e0c068;
  color: #333;
}
.type-flying {
  background-color: #a890f0;
}
.type-psychic {
  background-color: #f85888;
}
.type-bug {
  background-color: #a8b820;
  color: #333;
}
.type-rock {
  background-color: #b8a038;
  color: #333;
}
.type-ghost {
  background-color: #705898;
}
.type-dragon {
  background-color: #7038f8;
}
.type-dark {
  background-color: #705848;
}
.type-steel {
  background-color: #b8b8d0;
  color: #333;
}
.type-fairy {
  background-color: #ee99ac;
  color: #333;
}
.type-normal {
  background-color: #a8a878;
  color: #333;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("assets/pics/bg00.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #79c9fa;
    margin-bottom: 70px;
  }

  .logo {
    font-size: 40px;
    -webkit-text-stroke: 2px var(--blue);
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .notebook {
    width: 350px;
    height: 400px;
  }
  .notebook-screen {
    top: 11.5%;
    bottom: 2%;
    left: 4%;
    width: 100%;
    height: 54%;
  }
  .pokemon-card {
    flex-direction: row;
    align-items: center;
  }
  .card1,
  .card2 {
    width: 40%;
    flex: none;
  }
  .card1 > * {
    margin: 1px auto;
    padding: 0;
  }
  .type-btn {
    padding: 3px 8px;
    font-size: 0.8rem;
  }
  .pokemon-img {
    width: 100px;
    height: auto;
    margin-top: 10px;
  }
  .pokemon-name {
    font-size: 24px;
  }
  .pokemon-id {
    font-size: 15px;
  }
  .pokemon-description {
    font-size: 16px;
    margin-top: 0px;
    margin-right: 0;
    padding: 0 10px;
  }
  .search-input {
    width: 180px;
    height: 25px;
    font-size: 16px;
  }
  .btn-search {
    width: 100px;
    height: 30px;
    font-size: 14px;
  }

  .window {
    width: 400px; /* taille de la fenêtre */
    height: 400px;
    background-image: url("assets/pics/border01.png");
  }
  .window-content {
    top: 9%;
    bottom: 2%;
    left: 16%;
    right: 16%;
    overflow-y: auto;
    padding: 20px;
    text-align: center;
  }
  .pokedex {
    width: 227px;
    height: 310px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    gap: 10px;
  }
  .logo {
    font-size: 60px;
    -webkit-text-stroke: 3px var(--blue);
  }
  .search-input {
    width: 200px;
    height: 30px;
    font-size: 18px;
  }
  .btn-search {
    width: 80px;
    height: 40px;
    font-size: 16px;
  }
  .notebook {
    width: 800px;
    height: 500px;
  }
  .notebook-screen {
    top: 16%;
    bottom: 6%;
    left: 6%;
    width: 92%;
    height: 47.5%;
  }
  .pokemon-card {
    flex-direction: row;
    align-items: center;
  }

  .pokemon-img {
    width: 130px;
    height: auto;
    margin-top: 10px;
  }
  .pokemon-name {
    font-size: 30px;
  }.pokemon-jpname {
    font-size: 20px;
  }
  .pokemon-id {
    font-size: 18px;
  }
  .pokemon-description {
    font-size: 18px;
    margin-top: 10px;
    margin-right: 8px;
    padding: 0 10px;
  }
  .type-btn {
    padding: 3px 8px;
    font-size: 0.5rem;
  }

  .card1,
  .card2 {
    width: 40%;
  }
  .card1 > * {
    margin: 1px auto;
    padding: 0;
  }
  .type-btn {
    padding: 4px 10px;
    font-size: 1rem;
  }
  .window {
    width: 800px;
    height: 500px;
    background-image: url("assets/pics/border01.png");
  }

  .window-content {
    top: 18%;
    bottom: 2%;
    left: 16%;
    right: 10%;
    overflow-y: auto;
    padding: 20px;
    text-align: center;
  }
  .pokedex {
    width: 230px;
    height: 320px;
  }
}
