@font-face {
  font-family: "SynthPixel";
  src: url("assets/fonts/SynthPixel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LmsPokedex";
  src: url("assets/fonts/LmsPokedex.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tiny5";
  src: url("assets/fonts/Tiny5-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VCR-OSD";
  src: url("assets/fonts/VCR_OSD_Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PokemonSolid";
  src: url("assets/fonts/PokemonSolid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelCraft";
  src: url("assets/fonts/PixelCraft.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelOperator";
  src: url("assets/fonts/pixel_operator/PixelOperatorMono8.ttf")
    format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PixelOperator";
  src: url("assets/fonts/pixel_operator/PixelOperatorMono8-Bold.ttf")
    format("truetype");
  font-weight: bold;
}

:root {
  --background-color: #ece9d8;
  --text-color: #000040;
  --accent-color: #880015;
  --text: #000080;
  --btn-border: #071679;
  --btn-color1: #0061fc;
  --btn-color2: #024fca;
  --paper-h1:  #400000 ;
  --paper-text:  #804040;

  --red: #ff0000;
  --boston-red: #cc0000;
  --blue: #3b4cca;
  --yellow: #ffde00;
  --gold-foll: #b3a125;
}

body {
  background-image: url("assets/pics/nature-true.jpg");
  background-size: cover;
  margin: 0;
  height: 100vh;
}
.logo {
  top: 0;
  font-family: "PokemonSolid", sans-serif;
  font-size: 100px;
  color: var(--yellow);
  -webkit-text-stroke: 5px var(--blue);
  text-align: center;
  text-shadow: #000 2px 2px 0px, #000 4px 4px 0px, #000 6px 6px 0px;
}


.notebook {
  width: 700px;
  height: 700px;
  background-image: url('assets/pics/border03.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  align-self: center;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

/* Ecran a l'interieur du Pokedex */
.notebook-screen {
  position: relative;
  top: 11%;  
  bottom: 5%;
  left: 10%;
  width: 88%;
  height: 62%;
  overflow-y: auto;
}
.pokemon-card {
  display: flex;
  
  gap: 30px;
}
.card1{
  flex: 2;
}
.card2{
  flex: 1;
}
.pokemon-img {
  width: 60%;
} 
.search-input {
  width: 500px;
  height: 30px;
  margin-left: 5px;
  background-color: var(--background-color);
  border: 5px solid var(--btn-color2);
  border-radius: 10px;

  font-family: 'VCR-OSD';
  font-size: 20px;
  padding: 5px 10px;
}
.search-input:focus {
  outline: none;
  border-color: var(--btn-color1);
  box-shadow: 0 0 5px var(--btn-color1);
}
.btn-search {
  background: linear-gradient(180deg, #024fca, #0061fc);
  color: white;
  border-radius: 10px;
  /*border: 3px solid var(--btn-border);*/
  width: 150px;
  height: 50px;
  margin-left: 5px;
  font-family: 'VCR-OSD';
  font-size: 20px;
}










/* Conteneur general*/
.container {
  display: flex;
  justify-content: center;
  gap: 50px; 
  align-items: flex-start;
}

/* --- La fenetre --- */
.window {
  width: 700px;  
  height: 700px;
  background-image: url("assets/pics/border02.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden; 
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
  display: flex;
}

/* Contenu scrollable */ 
.window-content {
  position: absolute;
  top: 8.5%; 
  bottom: 2%;
  left: 18%;
  right: 10%;
  overflow-y: auto;
  padding: 20px;
  text-align: center;
}

/* Pokédex */
.pokedex {
  width: 400px;
  height: 550px;
  background-image: url('assets/pics/pokedex.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

/* Ecran */
.screen {
  position: relative;
  top: 17.5%;  
  left: 12%;
  width: 76%;
  height: 53%;
  overflow: hidden;
}

/* Image affichee */
.pokedex-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.pokedex-gif {
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 50%;
  height: 50%;
  object-fit: contain; 
  pointer-events: none; 
  z-index: 2; 
}















@media screen and (max-width: 768px) {
  body {
    background-image: url("assets/pics/bg00.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 50vh;
  }

  .logo {
    font-size: 40px;
    -webkit-text-stroke: 2px var(--blue);
  }

  .window {
    width: 400px; /* taille de la fenêtre */
    height: 400px;
    background-image: url("assets/pics/border01.png");
  }
  .window-content {
    position: absolute;
    top: 9%; /* espace pour la barre du haut */
    bottom: 2%;
    left: 16%;
    right: 16%;
    overflow-y: auto;
    padding: 20px;
    text-align: center;
  }
}
